<div class="login-form-container">

  <div class="login-heading">
    <h2>SWOT Bot</h2>
  </div>
 
  <div class="robot">
    <%= image_tag("Robot.png") %>  
  </div>
 
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

    <%= form_for @user, url: login_path, :html => { :id => "login" } do |f| %>
      <% if flash[:errors] %>
        <p class="flash-notice"><%= flash[:errors] %></p>
      <% end %>

      <%= f.text_field :username, placeholder: "username" %>
     
      <%= f.password_field :password, placeholder: "password" %>
      <br>  
      <%= f.submit value="Log In", :class => "btn btn-large btn-primary" %>
    <% end %>
</div>
