<div class="assignment-index-container">

  <h1>Add Assignment for <%= @course.subject.name %>, period <%= @course.period %></h1>

  <%= form_for Assignment.new, url: teachers_course_assignments_path do |f| %>
  <h3>Add a new assignment</h3>
  <% if flash[:assignment_errors] %>
    <% flash[:assignment_errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
    <%= f.label :title, "Assignment Title"%><br>
    <%= f.text_field :title %><br />

    <%= f.label :description, "Description (Optional)" %><br>
    <%= f.text_area :description, cols: 30, rows: 5 %><br>

    <%= f.label :maximum_points, "Maximum Points" %><br>
    <%= f.text_field :maximum_points %><br>

    <%= f.label :due_date, "Due Date" %><br>
    <%= f.text_field :due_date, placeholder: "YYYY-MM-DD" %><br>

    <%= f.select(:assignment_category_id, @category_array, {:include_blank => 'Select gradebook category'}) %><br /> <br>
    
    <%= f.label :due_date, "Term" %>
    <%= f.select(:term_id, @term_array, {:selected => session[:term_id]}) %><br />

    <%= f.submit %>
  <% end %>
</div>
