<%= link_to('Back', :back) %>
<h1><%= @assignment.title %></h1>
<h3><%= @assignment.description %></h3>

<table>
  <thead>
    <th>Due Date</th>
    <th>Category</th>
    <th>Maximum Points</th>
  </thead>
  <tr>
    <td><%= @assignment.due_date %></td>
    <td><%= @assignment.assignment_category.name %></td>
    <td><%= @assignment.maximum_points %></td>
  </tr>
</table>

<% if flash[:submission_errors] %>
  <% flash[:submission_errors].each do |error| %>
  <p><%= error %></p>
  <% end %>
<% end %>

<div>
  <table>
    <thead>
      <th>Student</th>
      <th>Points Earned</th>
      <th></th>
    </thead>
  <%= form_tag teachers_assignment_submissions_path(@assignment) do %>
    <% @assignment.course.students.sort!{ |a, b| a.last_name <=> b.last_name }.each do |student| %>
    <tr>
      <td><%= "#{student.first_name} #{student.last_name}, #{student.ccsd_id}" %></td>
      <td><%= text_field_tag "scores[]", (student.submissions.current.where(:assignment_id => @assignment.id).first.points_earned if student.submissions.current.where(:assignment_id => @assignment.id).length > 0) %></td>
      <%= hidden_field_tag "students[]", student.id %> 
      </tr>
      <br>  
    <% end %>
    <tr><td><%= submit_tag "Submit Scores" %></td></tr>
  <% end %>
  </table>
</div>
