<%if current_student%>
<h1>Welcome, <%= current_user.first_name %>!</h1>

<div>
  <%= render '/shared/inspiration' %>
</div>

<div class="pure-u-1-2">
  <%= render 'shared/announcements' %>
</div>

<%end%>

<h1><%= @student.first_name %> <%= @student.last_name %> (<%= @student.ccsd_id %>)</h1>
<div id="accordion">
  <h3>Class Schedule</h3>
<div>
  <%= render '/shared/schedule_grades' %>
</div>
