hello <%= current_user.first_name %>

<div class="s-profile-container pure-g-r">
<li><%= link_to "Logout", logout_path, :method => "delete" %></li>

  <h2 class="chalk">Welcome, <%= @student_profile.first_name %></h2>
  <ul>
    <li>First Name: <%= current_user.first_name %> </li>
    <li>Last Name: <%= current_user.last_name %> </li>
    <li>Username: <%=current_user.username %> </li>
    <li>Birthday: <%= current_user.profile.birthday %> </li>
    <li>Gender: <%= current_user.profile.gender %> </li>
    <li>Address: <%= current_user.profile.address %> </li>
    <li>Email: <%= current_user.profile.email %> </li>
    <li>Guardians: <% current_user.pro.guardian_profiles.each do |guardian| %> 
      <%= guardian.first_name %> <%= guardian.last_name %>
      <% end %></li>
    <li>CCSD ID: <%= @student_profile.ccsd_id %> </li>
    <li>Grade Level: <%= @student_profile.grade_level %> </li>
    <li>Guardian Registration Code: <%= @student_profile.registration_code %> </li>
  </ul>
  <%= link_to "Edit My Information", edit_student_profile_path(@student_profile) %>
  <div class="pure-g-r">
    <div class="pure-u-1-2 s-panel-classes">
      <%= render 'shared/class_list' %>
    </div>
    <div class="pure-u-1-2">
      <p>Student's Messages Will Go Here</p>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-2">
    </div>
    <div class="pure-u-1-2">
      <p>Student's Goals/Inspirations Will Go Here</p>
    </div>
  </div>
</div>
