<%if current_student == current_user.student %>
<div class="inspiration">
  <%= render '/shared/inspiration' %>
</div>
<br>
<h1>Welcome, <%= current_user.first_name %>!</h1>

<div>
	<h3>Goals</h3>
	  <% if flash[:goal_completed] %>
    <div class="flash"><%= flash[:goal_completed] %></div>
  <% end %>
    <% if @completed_goals.length > 0 %>
  <%= link_to "See Completed Goals", students_goals_path %>
  <% end %>
	<% if @goals.length > 0 %>
	<table>
		<thead>
			<th>Created On</th>
			<th>Goal</th>
		</thead>
			<% @goals.each do |goal| %>
				<tr>
					<td><%= goal.created_at.strftime("%b %d") %></td>
					<td><%= goal.goal %></td>
					<td><%= button_to "Complete", students_goal_complete_path(goal), :class => "btn" %></td>
					<td><%= button_to "Edit", edit_students_goal_path(goal), :method => 'get', :class => "btn" %></td>
					<td><%= button_to "Delete", students_goal_path(goal), :method => "delete", :class => "btn" %></td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<p>No Current Goals</p>
	<% end %>
		<%= form_for Goal.new, url: students_goals_path do |f| %>
  	<% if flash[:goal_errors] %>
    	<% flash[:goal_errors].each do |error| %>
				<%= error %>
			<% end %>
		<% end %>
  	<%= f.text_field :goal %>
  	<%= f.submit "Add Goal" %>
  <% end %>
  </div>

<div>
  <%= render 'shared/announcements' %>
</div>

  <div>
  <h3>Upcoming Due Dates</h3>
  <% if @assignments.length == 0 %>
    <p>No upcoming assignments.</p>
  <% else %>
    <table>
      <thead>
        <th>Period</th>
        <th>Course</th>
        <th>Assignment</th>
        <th>Due Date</th>
      </thead>
      <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.course.period %></td>
        <td><%= assignment.course.subject.name %></td>
        <td><%= assignment.title %></td>
        <td><%= assignment.due_date %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>

<h2><%= @student.first_name %> <%= @student.last_name %> </h2>
<div>
  <%= render '/shared/schedule_grades' %>
</div>

<%end%>
