<%if current_student%>
hello <%= current_user.first_name %>

<div>
  <h3>Assignments</h3>
  <% current_student.assignments.each do |assignment| %>
  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Assignment</th>
      <th>Due Date</th>
      <th>Score</th>
    </thead>
    <tr>
      <td><%= assignment.course.period %></td>
      <td><%= assignment.course.subject.name %></td>
      <td><%= assignment.title %></td>
      <td>DUE</td>
      <td><%= assignment.submissions.find_by_student_id(@student).score %></td>
    </tr>
  </table>
  <% end %>
</div>

<div>
  <h3>Recent Actions</h3>
  <% current_student.student_actions.each do |action| %>
  <table>
    <thead>
      <th>Date</th>
      <th>Period</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Action</th>
      <th>Comments</th>
    </thead>
    <tr>
      <td><%= action.date %></td> 
      <td><%= action.enrollment.course.period %></td>
      <td><%= action.enrollment.course.subject.name %></td>
      <td><%= action.enrollment.course.teacher.last_name %></td>
      <td><%= action.student_action_type.name %></td>
      <td><% if action.comment %> 
        <%= action.student_action_type.name %>
        <% end %>
      </td>
    </tr>
  </table>
  <% end %>
</div>

  </ul>
  <div class="pure-g-r">
    <div class="pure-u-1-2 s-panel-classes">
      <%= render 'shared/class_list' %>
    </div>
    <div class="pure-u-1-2">
      <p>Student's Messages Will Go Here</p>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-2">
    </div>
    <div class="pure-u-1-2">
      <p>Student's Goals/Inspirations Will Go Here</p>
    </div>
  </div>
</div>

<%end%>
