<%if current_student == current_user.student %>
  <div class="inspiration">
    <%= render '/shared/inspiration' %>
  </div>
  <br>
  <h1>Welcome, <%= current_user.first_name %>!</h1>
  <%= link_to "View your SWOT Report (use your CCSD ID for password)", students_swot_report_path(:ccsd_id => @student.ccsd_id) %> <br> <br>
  <div>
    <% if flash[:goal_completed] %>
      <div class="flash"><%= flash[:goal_completed] %></div>
    <% end %>
    <%= render '/shared/student_incomplete_goals', :incompleted_goals => @incompleted_goals %>
    <% if @completed_goals.length > 0 %>
      <%= link_to "See Completed Goals", students_goals_path %>
    <% end %>
  	<%= form_for Goal.new, url: students_goals_path do |f| %>
    	<% if flash[:goal_errors] %>
      	<% flash[:goal_errors].each do |error| %>
  				<%= error %>
  			<% end %>
  		<% end %>
    	<%= f.text_field :goal %>
    	<%= f.submit "Add Goal" %>
    <% end %>
  </div>
  <br>
  <%= render 'shared/announcements' %>
  <br>

  <h2>Scholar Hours</h2>
  <% if @incomplete_scholar_hours.length > 0 %>
    <div>
      <table>
        <thead>
          <th>Date Assigned</th>
          <th>Reason</th>
          <th>Status</th>
          <th>Comments</th>
        </thead>
        
      <% @incomplete_scholar_hours.each do |scholar_hour| %>
        <tr>
          <td><%= scholar_hour.date_assigned.strftime("%a, %m/%d")  %></td>
          <td><%= scholar_hour.reason %></td>
          <td><%= scholar_hour.status %></td>
          <td><%= scholar_hour.comments %></td>
        </tr>
      <% end %>
      </table>
    </div>
  <% else %>
    <p>You do not owe any scholar hours.</p>
  <% end %>
  <% if @completed_scholar_hours.length > 0 %>
    <%= link_to "View completed scholar hours", students_completed_scholar_hours_path %>
  <% end %>
  <br>
  <%= render '/shared/schedule_grades' %>
<%end%>
