<h2>Tasks</h2>
<%= link_to "Import Student CSV", admin_csv_importer_path, :class => "button button-flat" %> <br> <br>

<%= button_to "Generate Scholar Hours", teachers_scholar_hour_enrollment_path, method: "get", :class => "button button-flat" %>

<%= link_to "Create New Course", new_teachers_course_path, :class => "button button-flat" %> <br> <br>

<%= link_to "Create New Student", new_admin_student_profile_path, :class => "button button-flat" %> <br> <br>

<%= link_to "All Students Enrolled", admin_student_profiles_path, :class => "button button-flat" %> <br> <br>

<%= button_to "Send Weekly Email", teachers_weekly_email_path, :method => "post", :class => "button button-flat" %>

<%= link_to "Guardian Registration Cards", admin_guardian_registration_path, :class => "button button-flat" %> <br> <br>

<%= link_to "Guardian Login Stats", admin_guardian_logins_path, :class => "button button-flat" %> <br> <br>

<%= link_to "Student Login Stats", admin_student_logins_path, :class => "button button-flat" %>


