<h1>Student Edit Page</h1>

<div>
  <%= render 'shared/error_messages' %>
  <%= form_for @student, url: students_update_profile_path do |f| %>

    <%= f.label :email, "Email Address" %>

    <%= f.text_field :email %>

    <%= f.label :address, "Street Address" %>

    <%= f.text_field :address %>

    <%= f.submit value="Update Info", :class => "pure-button" %>
  <% end %>
</div>


<div >
  <%= render 'shared/error_messages' %>
  <%= form_for @user, url: admin_identity_path(@user) do |f| %>

    <%= f.label :email, "New Password" %>

    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Enter Password Again" %>
    
    <%= f.password_field :password_confirmation %>

    <%= f.submit value="Change Password", :class => "pure-button" %>
  <% end %>
</div>

