<h1><%= @student.first_name %> <%= @student.last_name %> (<%= @student.ccsd_id %>)</h1>
<div id="accordion">

<%= link_to "Student Report", guardians_student_report_path(:ccsd_id => @student.ccsd_id) %>

  <h3>Class Schedule</h3>
<div class="schedule-grades">

  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Current Percent</th>
      <th>Current Grade</th>
      <th>Teacher</th>
       <th>Email</th>
      <th>Cell #</th>
    </thead>
    <% @student.courses.order("period ASC").each do |course| %>
    <tr>
      <td><%= course.period %></td>
      <td><%= link_to course.subject.name, guardians_student_course_path(@student, course)%></td>
      <td><%= course.calculate_student_percentage(@student) %></td>
      <td><%= course.calculate_student_grade(@student)%></td>
      <td><%= course.teacher.first_name %> <%= course.teacher.last_name %></td>
      <td><%= course.teacher.email %></td>
      <% cellnumbers = course.teacher.phone_numbers.select {|number| number.kind == "cell"} %>
      <% if cellnumbers.length > 0 %>
      <td><%= cellnumbers.first.number %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

