<h1><%= @student.first_name %> <%= @student.last_name %> (<%= @student.ccsd_id %>)</h1>
<%= link_to "SWOT Report (Use CCSD ID for password)", guardians_student_report_path(:ccsd_id => @student.ccsd_id) %>
<h2>Schedule</h2>
<div>
  <%= render '/shared/schedule_grades' %>
</div>
