<h1><%= @student.first_name %> <%= @student.last_name %> (<%= @student.ccsd_id %>)</h1>
<%= link_to "Student Report", guardians_student_report_path(:ccsd_id => @student.ccsd_id) %>
<div id="accordion">
  <h3>Class Schedule</h3>
<div class="schedule-grades">

  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Current Percent</th>
      <th>Current Grade</th>
      <th>Teacher</th>
       <th>Email</th>
      <th>Cell #</th>
    </thead>
    <% @student.courses.includes(:subject, :teacher => [:identity, :phone_numbers]).order("period ASC").each do |course| %>
    <tr>
      <td><%= course.period %></td>
      <td><%= link_to course.subject.name, guardians_student_course_path(@student, course)%></td>
      <td><%= ((@percent = ((@student.calculate_percent(course)))) * 100).round(1)%>%</td>
      <td><%= (Course.letter_grade(@percent)) %></td>
      <td><%= course.teacher.first_name %> <%= course.teacher.last_name %></td>
      <td><%= mail_to "#{course.teacher.email}" do %>
      <%= course.teacher.email %>
      <% end %></td>    
      <% cellnumbers = course.teacher.phone_numbers.select {|number| number.kind == "cell"} %>
      <% if cellnumbers.length > 0 %>
      <td><%= cellnumbers.first.number %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<div>
  <h3>Upcoming Due Dates</h3>
  <% if @assignments.length == 0 %>
    <p>No upcoming assignments.</p>
  <% else %>
    <table>
      <thead>
        <th>Period</th>
        <th>Course</th>
        <th>Assignment</th>
        <th>Due Date</th>
      </thead>
      <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.course.period %></td>
        <td><%= assignment.course.subject.name %></td>
        <td><%= assignment.title %></td>
        <td><%= assignment.due_date %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>
