<h1><%= @student.first_name %> <%= @student.last_name %></h1>

<div class="Schedule">
  <h3>Class Schedule</h3>
  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Email</th>
      <th>Cell #</th>
    </thead>
    <% @student.courses.order("period ASC").each do |course| %>
    <tr>
      <td><%= course.period %></td>
      <td><%= course.subject.name %></td>
      <td><%= course.teacher.first_name %> <%= course.teacher.last_name %></td>
      <td><%= course.teacher.email %></td>
      <% cellnumbers = course.teacher.phone_numbers.select {|number| number.kind == "cell"} %>
      <% if cellnumbers.length > 0 %>
      <td><%= cellnumbers.first.number %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<div class="Assignments">
  <h3>Assignments</h3>
  <% @assignments.each do |assignment| %>
  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Assignment</th>
      <th>Due Date</th>
      <th>Max Points</th>
      <th>Earned Points</th>
    </thead>
    <tr>
      <td><%= assignment.course.period %></td>
      <td><%= assignment.course.subject.name %></td>
      <td><%= assignment.title %></td>
      <td><%= assignment.due_date %></td>
      <td><%= assignment.maximum_points %></td>
      <td><%= assignment.submissions.find_by_student_id(@student).points_earned if assignment.submissions.find_by_student_id(@student) %></td>
    </tr>
  </table>
  <% end %>
</div>

<div class="Recent Actions">
  <h3>Recent Actions</h3>
  <% @actions.each do |action| %>
  <table>
    <thead>
      <th>Date</th>
      <th>Period</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Action</th>
      <th>Comments</th>
    </thead>
    <tr>
      <td><%= action.date %></td> 
      <td><%= action.enrollment.course.period %></td>
      <td><%= action.enrollment.course.subject.name %></td>
      <td><%= action.enrollment.course.teacher.last_name %></td>
      <td><%= action.student_action_type.name %></td>
      <td><% if action.comment %> 
        <%= action.student_action_type.name %>
        <% end %>
      </td>
    </tr>
  </table>
  <% end %>
</div>
