<h1><%= @student.first_name %> <%= @student.last_name %> (<%= @student.ccsd_id %>)</h1>
<%= link_to "Student Report", guardians_student_report_path(:ccsd_id => @student.ccsd_id) %>
<div id="accordion">
  <h3>Class Schedule</h3>
<div class="schedule-grades">

  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Current Percent</th>
      <th>Current Grade</th>
      <th>Teacher</th>
       <th>Email</th>
      <th>Cell #</th>
    </thead>
    <% @student.courses.order("period ASC").each do |course| %>
    <tr>
      <td><%= course.period %></td>
      <td><%= link_to course.subject.name, guardians_student_course_path(@student, course)%></td>
      <td><%= (@student.enrollments.where('course_id = ?', @course.id).first.current_grade) * 100 %>%</td>
      <td><%= (@student.enrollments.where('course_id = ?', @course.id).first.letter_grade) %></td>
      <td><%= course.teacher.first_name %> <%= course.teacher.last_name %></td>
      <td><%= course.teacher.email %></td>
      <% cellnumbers = course.teacher.phone_numbers.select {|number| number.kind == "cell"} %>
      <% if cellnumbers.length > 0 %>
      <td><%= cellnumbers.first.number %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<div>
  <h3>Upcoming Due Dates</h3>
  <% if @assignments.length == 0 %>
    <p>No upcoming assignments.</p>
  <% else %>
    <table>
      <thead>
        <th>Period</th>
        <th>Course</th>
        <th>Assignment</th>
        <th>Due Date</th>
      </thead>
      <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.course.period %></td>
        <td><%= assignment.course.subject.name %></td>
        <td><%= assignment.title %></td>
        <td><%= assignment.due_date %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>
