  <div class="button-container">
    <ul>
      <!-- examples only - will be replaced via iteration -->
      <li><%= link_to "Class 1", root_path, :class => "pure-button chalk-dark"%></li>
      <li><%= link_to "Class 2", root_path, :class => "pure-button chalk-dark"%></li>
      <li><%= link_to "Class 3", root_path, :class => "pure-button chalk-dark"%></li>
      <li><%= link_to "Class 4", root_path, :class => "pure-button chalk-dark"%></li>
      <li><%= link_to "Class 5", root_path, :class => "pure-button chalk-dark"%></li>
      <li><%= link_to "Class 6", root_path, :class => "pure-button chalk-dark"%></li>
    </ul>
  </div>