<nav class="nav">
  <ul>
    <li class="current chalk-dark"><span class="nav-title">_____</span></li>
    <!-- need to hook these up -->
    <li><%= link_to "Create Class", root_path %></li>
    <li><%= link_to "Edit Class", root_path %></li>
    <li><%= link_to "Create Student", root_path %></li>
    <li><%= link_to "Send Message", root_path %></li>
    <li><%= link_to "View Recent Feedback", root_path %></li>
    <li><%= link_to "Logout", logout_path, :method => "delete" %></li>
  </ul>
</nav>