<% if current_user %>
<nav class="nav">
  <ul>
    <% if current_student? %>
      <li class="current chalk-dark"><span class="nav-title">_____</span></li>
      <!-- need to hook these up -->
      <li><%= link_to "Student Dashboard", students_profile_path(current_student) %></li>
    <% end %>

    <% if current_teacher? %>
      <li class="current chalk-dark"><span class="nav-title">_____</span></li>
      <!-- need to hook these up -->
      <li><%= link_to "Teacher Dashboard", teachers_profile_path(current_teacher) %></li>
      <li><%= link_to "Create Class", controller: "teachers/courses", action: 'new' %></li>
       <%=puts current_teacher%>
      <li><%= link_to "View Classes", teachers_courses_path(current_teacher) %></li>
      <li><%= link_to "Create Student", new_students_profile_path %></li>
      <li><%= link_to "View Recent Feedback", root_path %></li>
      <!-- <li><%= link_to "View all students" %></li> -->
      <!-- <li><%= link_to "View all teachers" %></li> -->
      <!-- <li><%= link_to "View all guardians" %></li> -->
    <% end %>

    <% if current_user.guardian? %>    
      <li class="current chalk-dark"><span class="nav-title">_____</span></li>
      <!-- need to hook these up -->
      <li><%= link_to "Guardian Dashboard", guardians_profile_path(current_user.guardian_id) %></li>
    <% end %>

    <li><hr></li>
    <li><%= link_to "Send Message", root_path %></li>
    <li><%= link_to "Logout", logout_path, :method => "delete" %></li>
  </ul>
</nav>
<% end %>
