<div class="nav-container">
<% if current_user %>
  <nav class="nav">
    <ul>
      <li><%= form_tag change_term_path, method: :get do %>
        <%= select :term, :term_id, Term.all.collect {|t| [t.name, t.id]}, :selected => session[:term_id] %>
            <%= submit_tag "Change Term" %>
            <% end %>
        </li>
        
      <% if current_student? %>
        <%= link_to(students_bank_account_path, :style => 'text-decoration: none') do %>
          <div class="bank-balance">
            <div style="font-size: 19px;text-decoration:underline;">Bank Balance</div>
            <%= number_to_currency(current_student.bank_balance, strip_insignificant_zeros: true) %>
          </div>
        <% end %>
        <li><%= link_to "Dashboard",
            students_root_path,
            :id => "",
            :class => "#{'current' if current_page?(students_root_path)} button button-flat" %>
        </li>

        <li><%= link_to "Profile",
            students_profile_path,
            :id => "",
            :class => "#{'current' if current_page?(students_profile_path(current_student))} button button-flat" %>
        </li>

        <li><%= link_to "Classes",
            students_courses_path(current_student),
            :id => "",
            :class => "#{'current' if current_page?(students_courses_path(current_student))} button button-flat" %>
        </li>
      <% end %>

      <% if current_teacher? %>

        <li><%= link_to "Live Class",
            teachers_root_path,
            :id => "dashboard",
            :class => "#{'current' if current_page?(teachers_root_path)} button button-flat" %>
        </li>

        <%if current_admin?%>
          <li><%= link_to "Admin Panel",
            admin_root_path,
            :class => "#{'current' if current_page?(admin_root_path)} button button-flat" %>
          </li>
        <%end%>

        <li><%= link_to "Action Feed",
            teachers_livestream_path,
            :class => "#{'current' if current_page?(teachers_livestream_path)} button button-flat" %>
        </li>

        <li><%= link_to "Class Info",
            teachers_courseload_path,
            :id => "classes",
            :class => "#{'current' if current_page?(teachers_courseload_path)} button button-flat" %>
        </li>

        <li><%= link_to "Dashboard",
            teachers_profile_path(current_teacher),
             :id => "profile",
             :class => "#{'current' if current_page?(teachers_profile_path(current_teacher))} button button-flat" %>
        </li>

        <li><%= link_to "Daily Summary",
            teachers_daily_summary_path,
            :id => "daily_summary",
            :class => "#{'current' if current_page?(teachers_daily_summary_path)} button button-flat" %>
        </li>

        <li><%= link_to "Scholar Hours",
            teachers_scholar_hours_path,
            :id => "scholar_hours",
            :class => "#{'current' if current_page?(teachers_scholar_hours_path)} button button-flat" %>
        </li>

      <% end %>

      <% if current_user.guardian? %>
        <li><%= link_to "Dashboard",
            guardians_root_path,
            :class => "#{'current' if current_page?(guardians_root_path)} button button-flat" %>
        </li>

        <li><%= link_to "Profile",
            guardians_profile_path(current_guardian),
            :class => "#{'current' if current_page?(guardians_profile_path(current_guardian))} button button-flat" %>
        </li>
      <% end %>

      <li><%= link_to "Messages",
          messages_path,
          :class => "#{'current' if current_page?(messages_path)} button button-flat" %></li>

      <% if current_student? || current_teacher? %>
          <li><%= link_to "Core Values",
          'http://swotcorevalues.herokuapp.com/',
          :class => "button button-flat" %></li>
      <% end %>

      <li><%= link_to "Logout",
          logout_path, :method => "delete",
          :class => "#{'current' if current_page?(logout_path)} button button-flat" %>
      </li>
      <% if current_teacher? %>
              <li><%= form_tag teachers_change_student_path, method: :get do %>
        <%= select_tag "student_id", options_from_collection_for_select(Student.all.sort! { |a, b| a.last_name <=> b.last_name }, :id, "full_name"),{multiple:false, :prompt => "Select a Student", :class => 'chosen-select'} %>
            <%= submit_tag "View Student" %>
            <% end %>
        </li>
      <% end %>

  </ul>
</nav>
<% end %>
</div>
