  <div class="schedule-grades">
  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Current Percent</th>
      <th>Current Grade</th>
      <th>Teacher</th>
      <th>Email</th>
      <th>Cell #</th>
    </thead>
    <% @student.courses.includes(:subject, :teacher => [:identity, :phone_numbers]).order("period ASC").each do |course| %>
    <tr>
      <td><%= course.period %></td>
      <% if current_student? %>
        <td><%= link_to course.subject.name, students_course_path(course)%></td>
      <% elsif current_teacher? %>
        <td><%= link_to course.subject.name, teachers_student_profile_course_overview_path(@student.id, course.id)%></td>
      <% end %>  
      <td><%= ((@percent = ((@student.calculate_percent(course)))) * 100).round(1)%>%</td>
      <td><%= (Course.letter_grade(@percent)) %></td>
      <td><%= course.teacher.first_name %> <%= course.teacher.last_name %></td>
      <td><%= mail_to "#{course.teacher.email}" do %>
        <%= course.teacher.email %>
      <% end %></td>  
      <% cellnumbers = course.teacher.phone_numbers.select {|number| number.kind == "cell"} %>
      <% if cellnumbers.length > 0 %>
      <td><%= cellnumbers.first.number %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
