<div class="schedule-grades">
  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Current Percent</th>
      <th>Current Grade</th>
      <th>Teacher</th>
      <th>Email</th>
      <th>Cell #</th>
    </thead>
    <% @student.courses.order("period ASC").each do |course| %>
    <tr>
      <td><%= course.period %></td>
      <% if current_student? %>
        <td><%= link_to course.subject.name, students_course_path(course)%></td>
      <% elsif current_teacher? %>
        <td><%= link_to course.subject.name, teachers_course_path(course)%></td>
      <% end %>  
      <td><%= (@student.enrollments.where('course_id = ?', course.id).first.current_grade) * 100 %>%</td>
      <td><%= (@student.enrollments.where('course_id = ?', course.id).first.letter_grade) %></td>
      <td><%= course.teacher.first_name %> <%= course.teacher.last_name %></td>
      <td><%= course.teacher.email %></td>
      <% cellnumbers = course.teacher.phone_numbers.select {|number| number.kind == "cell"} %>
      <% if cellnumbers.length > 0 %>
      <td><%= cellnumbers.first.number %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
