<h1>Guardian Edit Page</h1>

<div class="pure-g">
  <div class="pure-u-1-3"></div>
  <div class="pure-u-1-3"></div>
</div>      

<div class="pure-g">
  <div class="pure-u-1-3">
  </div>
    <div class="pure-u-1-3 form-container">
      <%= render 'shared/error_messages' %>
      <%= form_for @guardian, url: guardians_profile_path(@guardian), :html => { :class => "pure-form pure-form-stacked", :id => "sign_up" } do |f| %>

      <%= f.label :email, "Email Address" %>

      <%= f.text_field :email %>

      <div class="submit-button">
        <%= f.submit value="Update Email", :class => "pure-button" %>
      </div>
    <% end %>
  </div>
  <div class="pure-u-1-3">
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-3">
  </div>
<div class="pure-u-1-3 form-container">
      <%= render 'shared/error_messages' %>
      <%= form_for @user, :html => { :class => "pure-form pure-form-stacked", :id => "edit" } do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %><br />

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %><br />

    <%= f.submit value="Save changes" %>
  <% end %>
  </div>
    <div class="pure-u-1-3">
  </div>
</div>


