<h1>Edit your Profile</h1>
<div class="guardian-edit-page-container">
  <div class="upper forms">
    <%= render 'shared/error_messages' %>
    <%= form_for @guardian, 
        url: guardians_profile_path(@guardian), :id => "sign_up" do |f| %>

      <%= f.label :email, "Email Address" %>
      <%= f.text_field :email %>

      <%= f.label :address, "Street Address" %>
      <%= f.text_field :address %>

      <%= f.label :preferred_language, "Preferred Language" %>
      <%= f.select :preferred_language, [ ['English','English'],
                                          ['Spanish','Spanish'],
                                          ['Other', 'Other']] %>

        <%= f.submit value="Update Email and Address", :class => "" %>
    <% end %>

    <div class="guardian-add-phone">
      <% if flash[:phone_number_errors] %>
        <p class="flash-notice"><%= flash[:errors] %></p>
      <% end %>

      <h3>Add phone number to account</h3>
      <%= form_for PhoneNumber.new, url: guardians_profile_add_phone_number_path(current_guardian), :html => { :id => "login" } do |f| %>

        <%= f.label :number, "Phone Number" %>

        <%= f.text_field :number, placeholder: "***-***-****" %>

        <%= f.label :kind, "Phone Type" %>

        <%= f.select :kind, [ ['Cell','cell'],
                              ['Home','home'],
                              ['Work', 'work'],
                              ['Other', 'other']] %>

          <%= f.submit value="Add Phone Number", :class => "pure-button" %>
      <% end %>
    </div>
  </div>

  <div class="user">
    <%= render 'shared/error_messages' %>
    <%= form_for @user, :html => { :class => "pure-form pure-form-stacked", :id => "edit" } do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %><br />

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %><br />

    <%= f.submit value="Save changes" %>
  <% end %>

    <strong>Phone Numbers for Account</strong>
    <% current_guardian.phone_numbers.each do |phone_number| %>
      <table>
        <tr>
          <td><%= phone_number.number %></td>
          <td>
            <%= form_tag guardians_profile_delete_phone_number_path(current_guardian), :method => 'delete' do %>
              <%= hidden_field_tag :phone_number_id, phone_number.id %>
              <%= submit_tag "Delete Number" %>
            <% end %>
          </td>   
        </tr>
      </table>
    <% end %>
 
</div>
