<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
<%=@student.first_name%> <%=@student.last_name%>'s Report CCSD ID#: <%=@student.ccsd_id%>
Start Date:<%=%> End Date: <%=%>
<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<td><%=@courses[0].subject.name%></td>
		</tr>
		<tr>
		  <td>Overall Grade:</td>
		  <td>Missing Work:</td>
		</tr>
	</thead>
	<tbody>
			<%@student_actions_array[0].each do |key,value|%>
		<tr>
			<td><%=key%></td>
			<td><%=value.count%></td>
		</tr>
			<%end%>
	</tbody>
</table>

<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<td>Period 2:<%=@courses[1].subject.name%></td>
		</tr>
		<tr>
		  <td>Overall Grade:</td>
		  <td>Missing Work:</td>
		</tr>
	</thead>
	<tbody>
			<%@student_actions_array[1].each do |key,value|%>
		<tr>
			<td><%=key%></td>
			<td><%=value.count%></td>
		</tr>
			<%end%>
	</tbody>
</table>

<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<td>Period 3:<%=@courses[2].subject.name%></td>
		</tr>
		<tr>
		  <td>Overall Grade:</td>
		  <td>Missing Work:</td>
		</tr>
	</thead>
	<tbody>
			<%@student_actions_array[2].each do |key,value|%>
		<tr>
			<td><%=key%></td>
			<td><%=value.count%></td>
		</tr>
			<%end%>
	</tbody>
</table>

<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<td>Period 4:<%=@courses[3].subject.name%></td>
		</tr>
		<tr>
		  <td>Overall Grade:</td>
		  <td>Missing Work:</td>
		</tr>
	</thead>
	<tbody>
			<%@student_actions_array[3].each do |key,value|%>
		<tr>
			<td><%=key%></td>
			<td><%=value.count%></td>
		</tr>
			<%end%>
	</tbody>
</table>

<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<td>Period 5:<%=@courses[4].subject.name%></td>
		</tr>
		<tr>
		  <td>Overall Grade:</td>
		  <td>Missing Work:</td>
		</tr>
	</thead>
	<tbody>
			<%@student_actions_array[4].each do |key,value|%>
		<tr>
			<td><%=key%></td>
			<td><%=value.count%></td>
		</tr>
			<%end%>
	</tbody>
</table>

<table class="pure-table pure-table-bordered">
	<thead>
		<tr>
			<td>Period 6:<%=@courses[5].subject.name%></td>
		</tr>
		<tr>
		  <td>Overall Grade:</td>
		  <td>Missing Work:</td>
		</tr>
	</thead>
	<tbody>
			<%@student_actions_array[5].each do |key,value|%>
		<tr>
			<td><%=key%></td>
			<td><%=value.count%></td>
		</tr>
			<%end%>
	</tbody>
</table>