<% if flash[:action_errors] %>
  <% flash[:action_errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<div>
    <%= form_for @student_action, url: teachers_student_action_path(@student_action) do |f| %>

    <%= f.hidden_field(:enrollment_id, value: @student_action.enrollment_id) %>
    <p>Student: <%= @student_action.enrollment.student.first_name%> <%= @student_action.enrollment.student.last_name%></p>

      <%= f.label :date, "Date (YYYY-MM-DD)" %>
      <%= f.text_field :date %>

      <% action_array = (StudentActionType.all.map { |action| ["#{action.name}", action.id] }) %>
      <%= f.select(:student_action_type_id, action_array) %>

      <%= f.label :comment, "Comments" %>
      <%= f.text_area :comment %>

      <%= f.submit value="Update Record" %>
    <% end %>
  </div>

