<%= link_to 'Back', :back %>
<div id="collapse" >
	<% current_teacher.courses.each do |course| %>
	  <h2>Period <%= course.period %> <%= course.subject.name %></h2>
	  <div>
		  <h3><%= Date.today.strftime("%A, %B %e, %Y ") %></h3>
		  <table>
		  	<thead>
		  		<th></th>
		  		<th></th>
		  		<th></th>
		  		<th>Student Name</th>
		  		<th>Action</th>
		  		<th>Comment</th>
		  	</thead>
	    	<% course.student_actions.select{ |a| a.date == Date.today.end_of_week }.each do |action| %>
			    <tr>
			    	<td><%= link_to "Delete", teachers_student_action_path(action), method: "delete" %></td>
			    	<td><%= link_to "Edit", edit_teachers_student_action_path(action) %></td>
			      <td><%= action.enrollment.student.first_name %> <%= action.enrollment.student.last_name %></td>
			      <td><%= action.student_action_type.name %></td>
			      <td><%= action.comment if action.comment %></td>
			    </tr>
  	    <% end %>
		  </table>
		  <h3><%= (Date.today-1).strftime("%A, %B %e, %Y") %></h3>
		  <table>
		  	<thead>
		  		<th></th>
		  		<th>Student Name</th>
		  		<th>Action</th>
		  		<th>Comment</th>
		  	</thead>
	    	<% course.student_actions.select{ |a| a.date == (Date.today-1) }.each do |action| %>
			    <tr>
			    	<td><%= link_to "Delete", teachers_student_action_path(action), method: "delete" %></td>
			    	<td><%= link_to "Edit", edit_teachers_student_action_path(action) %></td>
			      <td><%= action.enrollment.student.first_name %> <%= action.enrollment.student.last_name %></td>
			      <td><%= action.student_action_type.name %></td>
			      <td><%= action.comment if action.comment %></td>
			    </tr>
  	  	<% end %>
		  </table>
		  <h3><%= (Date.today-2).strftime("%A, %B %e, %Y") %></h3>
		  <table>
		  	<thead>
		  		<th></th>
		  		<th>Student Name</th>
		  		<th>Action</th>
		  		<th>Comment</th>
		  	</thead>
	    	<% course.student_actions.select{ |a| a.date == (Date.today-2) }.each do |action| %>
			    <tr>
			    	<td><%= link_to "Delete", teachers_student_action_path(action), method: "delete" %></td>
			    	<td><%= link_to "Edit", edit_teachers_student_action_path(action) %></td>
			      <td><%= action.enrollment.student.first_name %> <%= action.enrollment.student.last_name %></td>
			      <td><%= action.student_action_type.name %></td>
			      <td><%= action.comment if action.comment %></td>
			    </tr>
  	  	<% end %>
		  </table>
		  <h3><%= (Date.today-3).strftime("%A, %B %e, %Y") %></h3>
		  <table>
		  	<thead>
		  		<th></th>
		  		<th>Student Name</th>
		  		<th>Action</th>
		  		<th>Comment</th>
		  	</thead>
	    	<% course.student_actions.select{ |a| a.date == (Date.today-3) }.each do |action| %>
			    <tr>
			    	<td><%= link_to "Delete", teachers_student_action_path(action), method: "delete" %></td>
			    	<td><%= link_to "Edit", edit_teachers_student_action_path(action) %></td>
			      <td><%= action.enrollment.student.first_name %> <%= action.enrollment.student.last_name %></td>
			      <td><%= action.student_action_type.name %></td>
			      <td><%= action.comment %></td>
			    </tr>
  	  	<% end %>
		  </table>
		  <h3><%= (Date.today-4).strftime("%A, %B %e, %Y") %></h3>
		  <table>
		  	<thead>
		  		<th></th>
		  		<th>Student Name</th>
		  		<th>Action</th>
		  		<th>Comment</th>
		  	</thead>
	    	<% course.student_actions.select{ |a| a.date == (Date.today-4) }.each do |action| %>
			    <tr>
			    	<td><%= link_to "Delete", teachers_student_action_path(action), method: "delete" %></td>
			    	<td><%= link_to "Edit", edit_teachers_student_action_path(action) %></td>
			      <td><%= action.enrollment.student.first_name %> <%= action.enrollment.student.last_name %></td>
			      <td><%= action.student_action_type.name %></td>
			      <td><%= action.comment if action.comment %></td>
			    </tr>
  	  	<% end %>
		  </table>
	  <p>(<%= link_to "See action history for #{course.subject.name} period #{course.period}", teachers_course_history_actions_path(course)%>)</p>
	  </div>
  <% end %>
</div>



