<h1>Update your profile</h1>

<div class="form-container">
  <%= form_for @user, :html => { :class => "pure-form pure-form-stacked", :id => "edit" } do |f| %>

		<%= render 'shared/error_messages' %>

    <%= f.label :username %>:
    <%= f.text_field :username %><br />

    <%= f.label :first_name %>:
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>:
    <%= f.text_field :last_name %><br />

    <%= f.label :password %>:
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation, "Confirm new password" %>:
    <%= f.password_field :password_confirmation %><br />

    <%= f.submit value="Save changes" %>
  <% end %>
</div>
