<h2>Welcome, <%= @guardian_profile.first_name %> <%= @guardian_profile.last_name %>!</h2>
<p><%= link_to "Edit Your Profile", edit_guardian_profile_path(@guardian_profile) %></p>

<div class="pure-u-1-3 form-container">
  <% if flash[:errors] %>
    <p class="flash-notice"><%= flash[:errors] %></p>
  <% end %>
    <%= form_for @guardianship, url: add_student_path(@guardian_profile), :html => { :class => "pure-form pure-form-stacked", :id => "login" } do |f| %>

      <%= f.label :registration_code, "SWOTBot Registration Code" %>

      <%= f.text_field :registration_code, placeholder: "xxxxxxxx" %>

      <%= f.label :ccsd_id, "CCSD ID" %>

      <%= f.text_field :ccsd_id %>

      <%= f.label :ccsd_id, "Relationship to Student" %>

      <%= f.select :relationship_to_student, [['Mom','mom'],
      ['Dad','dad'],
      ['Step-mom', 'step-mom'],
      ['Step-dad', 'step-dad'],
      ['Grandma','grandma'],
      ['Grandpa', 'grandpa'],
      ['Sibling', 'sibling'],
      ['Aunt', 'aunt'],
      ['Uncle', 'uncle'],
      ['Other', 'other']] %>

      <div class="login-button">
        <%= f.submit value="Add Student", :class => "pure-button" %>
      </div>
    <% end %>
  </div>

<h3>Here are all the Students for this guardian</h3>
<ul>
<% @guardian_profile.student_profiles.each do |student| %>
  <li><%= [student.first_name, student.last_name].join(' ') %></li>
</ul>
<% end %>

