<h2>Edit Scholar Hour</h2>

<div class="form-container">
  <%= form_for @scholar_hour, url: teachers_scholar_hours_path do |f| %>
    <% students_array = Student.all.sort! {|a, b| a.last_name <=> b.last_name }.map { |student| ["#{student.first_name} #{student.last_name}", student.id] } %>
    <%= f.select(:student_id, students_array, {:include_blank => 'Select a student'}) %><br />

    <%= f.label :reason %>
    <%= f.text_field :reason %><br/>

		<%= f.label :date_assigned %>
    <%= f.text_field :date_assigned, value: @scholar_hour.date_assigned, placeholder: "YYYY-MM-DD" %><br/>

    <%= f.label :comments %>
    <%= f.text_area :comments %><br/>

    <%= f.hidden_field :status, value: "Not Complete" %> <br/>

    <%= f.submit value="Create Scholar Hour" %>
  <% end %>
</div>
