<h2>Create Custom Scholar Hours</h2>
<%= form_tag teachers_scholar_hours_path, :method => :post do %>
  <ul>
  <% for student in @students.map { |student| ["#{student.first_name} #{student.last_name}", student.id] } %>
    <li>
      <%= check_box_tag "student_ids[]", student[1] %>
      <%= student[0] %>
    </li>
  <% end %>
  <%= label_tag :reason %>
      <%= text_field_tag :reason %> <br>
      <%= label_tag :date_assigned %>
      <%= text_field_tag :date_assigned, Date.today.strftime("%Y-%m-%e") %> <br>
      <%= label_tag :comments %>
      <%= text_area_tag :comments %>
      <%= hidden_field_tag :status, value: "Not Complete" %>
  </ul>
  <%= submit_tag "Create scholar hour" %>
<% end %>


