<%= link_to "Back", :back %>

<h1><%=@course.subject.name%></h1>
<% if current_student.grade_in(@course) >= 0 %>
  <h1>Current Overall Grade: <%= @percent = current_student.grade_in(@course)%>% <%= Course.letter_grade(@percent) %></h1>
<% end %>

<%= render '/shared/student_assignment_submissions', :assignments => @assignments %>

<%= render '/shared/student_actions', :student_actions => @student_actions %>

