<h1>Edit Title and Email</h1>

<div>
  <%= form_for @teacher, url: teachers_profile_path(@teacher) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :email %>
    <%= f.text_field :email %> <br>

    <%= f.submit value="Update!" %>
  <% end %>
</div>

<h1>Edit User Information</h1>
<div>
  <%= form_for @user do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %><br />

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %><br />

    <%= f.submit value="Update!" %>
  <% end %>
</div>


<div>
  <% if current_teacher.phone_numbers.length > 0 %>
  <strong>Phone Numbers</strong>
  <% current_teacher.phone_numbers.each do |phone_number| %>
    <table>
      <tr>
        <td><%= phone_number.number %></td>
        <td>
          <%= form_tag teachers_profile_delete_phone_number_path(current_teacher), :method => 'delete' do %>
            <%= hidden_field_tag :phone_number_id, phone_number.id %>
            <%= submit_tag "Delete Number" %>
          <% end %>
        </td>   
      </tr>
    </table>
  <% end %>
  <% end %>
</div>


<div>
  <% if flash[:phone_number_errors] %>
    <p class="flash-notice"><%= flash[:errors] %></p>
  <% end %>
  <%= form_for PhoneNumber.new, url: teachers_profile_add_phone_number_path(current_teacher) do |f| %>
    <h3>Add phone number to account</h3>

    <%= f.label :number, "Phone Number" %>
    <%= f.text_field :number, placeholder: "***-***-****" %>

    <%= f.label :kind, "Phone Type" %>
    <%= f.select :kind, [['Cell','cell'],
    ['Home','home'],
    ['Work', 'work'],
    ['Other', 'other']] %>

    <%= f.submit value="Add Phone Number" %>
  <% end %>
</div>


 


