<div class="teacher-profile-container">
  <ul>
      <li><%= link_to "Edit Your Profile", edit_teachers_profile_path(current_teacher) %></li>
      <li class="profile-info">First name: <%= current_teacher.first_name%></li>
      <li class="profile-info">Last name: <%= current_teacher.last_name%></li>
      <li class="profile-info">Username: <%= current_teacher.username%></li>
      <li class="profile-info">Email: <%= current_teacher.email%></li>
      <% current_teacher.phone_numbers.each do |number| %>
      <li class="profile-info"><%= number.kind.capitalize%>: <%= number.number%></li>
      <% end %>
  </ul>

  <div class="swot-report-actions">
    <h3>Send SWOT Report to Guardian</h3>

    <%= form_tag teachers_send_student_email_path, :method => "post" do %>

      <%= label_tag :guardian, "Username of Guardian" %>
      <%= text_field_tag :guardian, params[:guardian] %>

      <%= label_tag :ccsd_id, "Student CCSD ID" %>
      <%= password_field_tag :ccsd_id %>
      <br>
      <%= submit_tag "Send Single Email", :class => "btn" %>

    <% end %>
    <%= button_to "Send Weekly Email", teachers_weekly_email_path, :method => "post", :class => "btn" %>
  </div>
</div>

<div>
  <h3>Create Announcement</h3>
  <%= form_for Announcement.new, :url => teachers_announcements_path do |f| %>

    <%= f.hidden_field :teacher_id, value: current_teacher.id %>

    <%= f.label :title, "Announcement Title" %>
    <%= f.text_field :title %>

    <%= f.label :body, "Text" %>
    <%= f.text_area :body %>

    <%= f.label :expiration_date, "Expiration Date" %>
    <%= f.text_field :expiration_date, placeholder: "YYYY-MM-DD" %>

    <%= f.submit value="Submit" %>
  <% end %>
</div>

<div class="teacher-dashboard-announcements">
  <%= render 'shared/announcements' %>
</div>


