<%= link_to "Back", :back %>
<div class="guardian-student-action-container">
  <%= render '/shared/student_course_header', :student => @student, :course => @course %>
  <h3>Teacher: <%= @course.teacher.last_name %></h3>
<%= render '/shared/student_assignment_submissions', :assignments => @assignments %>

<%= render '/shared/student_actions', :student_actions => @student_actions %>
  
