<div class="assignments">
  <h3>Assignments</h3>
  
  <table>
    <thead>
      <th>Period</th>
      <th>Subject</th>
      <th>Assignment</th>
      <th>Due Date</th>
      <th>Max Points</th>
      <th>Earned Points</th>
    </thead>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.course.period %></td>
      <td><%= assignment.course.subject.name %></td>
      <td><%= assignment.title %></td>
      <td><%= assignment.due_date %></td>
      <td><%= assignment.maximum_points %></td>
      <td><%= assignment.submissions.find_by_student_id(@student).points_earned if assignment.submissions.find_by_student_id(@student) %></td>
    </tr>
  </table>
  <% end %>
</div>

<h3>Recent Actions</h3>
<div class="recent-actions">
  
  <table>
    <thead>
      <th>Date</th>
      <th>Period</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Action</th>
      <th>Comments</th>
    </thead>
  <% @actions.each do |action| %>
    <tr>
      <td><%= action.date %></td> 
      <td><%= action.enrollment.course.period %></td>
      <td><%= action.enrollment.course.subject.name %></td>
      <td><%= action.enrollment.course.teacher.last_name %></td>
      <td><%= action.student_action_type.name %></td>
      <td><% if action.comment %> 
        <%= action.student_action_type.name %>
        <% end %>
      </td>
    </tr>
  </table>
  <% end %>
</div>
</div>
