<div class="grid-container swipe">
  <div class="icon-container">
    <ul id="student-icon-list" class="sortable">
      <% @students.each do |student| %>
        <li data-id="<%= student.id %>" class="student-icon">
          <div class="initials">
            <%= student.first_name[0].upcase %><%= student.last_name[0].downcase %>
          </div>
          <div class="full-name">
            <%= student.first_name %> <%= student.last_name %>
          </div>
          <div class="positive-count">
            <%= student.positive(student.collect_student_actions) %>
          </div>
          <div class="negative-count">
            <%= student.negative(student.collect_student_actions) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
