<div class="class-create-form-container">
<h1>Create a New Class</h1>
  <%= render 'shared/error_messages' %>
  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

  <%= form_for @course, :url => teachers_courses_path(@course), :action => "post", :html => { :id => "sign_up" } do |f| %>

    <%= f.label :period, "Period" %>
    <%= f.select :period, [ [1,1],
                            [2,2],
                            [3,3],
                            [4,4],
                            [5,5],
                            [6,6],
                            [7,7],
                            [8,8]] %>

    <% teachers_array = Teacher.all.map { |teacher| ["#{teacher.first_name} #{teacher.last_name}", teacher.id] } %>

    <%= f.select(:teacher_id, teachers_array, {:include_blank => 'Select a teacher'}) %><br />

    <%= f.select :subject_id, Subject.all.map { |subject| [ subject.name, subject.id ] } %>

    <%= f.submit value="Create Class", :class => "btn btn-block btn-large" %>
  
  <% end %>
</div>
