<section class="teacher-course-show-container">
  <nav class="teacher-course-show-nav">
    <%= link_to "Course Roster", teachers_course_roster_path(@course) %>
    <% if @course.teacher_id == current_teacher.id %>
      <%= link_to "Add Assignment", teachers_course_assignments_path(@course) %>
      <%= link_to "Live Class", teachers_course_liveclass_path(@course) %>
      <%= link_to "Add Students to Course", teachers_course_enrollments_path(@course) %>
      <%= link_to "Gradebook Categories", teachers_course_assignment_categories_path(@course) %>
    <%end%>
  </nav>

<div id="collapse" >
  <h2 class="open">Assignments for <%= @course.subject.name %> (Period <%= @course.period %>)</h2>
  <div id="assignment-preview-5">
    <% if @course.assignments.length > 0 %>
    <table>
      <thead>
        <th>Due Date</th>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Maximum Points</th>
        <th>Class Average</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <% @course.assignments.sort! { |a, b| a.id <=> b.id }.each do |assignment| %>
      <tr>
        <td><%= assignment.due_date %></td>
        <td><%= assignment.assignment_category.name %></td>
        <td><%= assignment.title %></td>
        <td><%= assignment.description.nil? || assignment.description.length == 0 ? "(empty)" : assignment.description %></td>
        <td><%= assignment.maximum_points %></td>
        <% @class_points_earned = 0 %>
        <% @num_submissions = assignment.submissions.count %>
        <% assignment.submissions.each do |submission| %>
          <% @class_points_earned += submission.points_earned %>
        <% end %>
        <% if @num_submissions == 0 %>
          <td>N/A</td>
        <% else %>
            <td><%= (@class_points_earned.to_f / (@num_submissions.to_f * assignment.maximum_points.to_f)*100).round(1) %>%</td>
        <% end %>
        <% if @course.teacher_id == current_teacher.id %>
        <td><%= link_to "Enter Grades", teachers_assignment_path(assignment) %></td>
        <td><%= link_to "Delete", teachers_assignment_path(assignment), method: "delete" %></td>
        <td><%= link_to "Edit", edit_teachers_assignment_path(assignment) %></td>
        <%end%>
      </tr>
      <% end %>
    </table>
    <% else %>
      <p>No assignments.</p>
    <% end %>
  </div>
  <h2>Current Grades</h2>
  <div id="student-roster">
    <table>
      <thead>
        <th>CCSD ID</th>
        <th>Student</th>
        <th>Percent</th>
        <th>Grade</th>
      </thead>
      <% @students.sort!{ |a, b| a.last_name <=> b.last_name }.each do |student| %>
      <tr>
        <td><%= student.ccsd_id %></td>
        <td><%= link_to "#{student.first_name} #{student.last_name}", teachers_course_student_record_path(@course, student) %></td>
        <td><%= ((@percent = student.calculate_percent(@course)) * 100).round(1)%>%</td>
        <td><%= (Course.letter_grade(@percent)) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</section>
