
<%= link_to "Live Class", teachers_course_liveclass_path(@course) %>

<%= link_to "Assignments", teachers_course_assignments_path(@course) %>

<%= link_to "Add Students to Course", teachers_course_enrollments_path(@course) %>
<table>
  <thead>
    <th>CCSD ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>More Information</th>
  </thead>
  <% @students.each do |student| %>
  <tr>
    <td><%= student.ccsd_id %></td>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= link_to "More", root_path %></td>
  </tr>
  <% end %>
</table>
