
<%= link_to "Live Class", teachers_course_liveclass_path(@course) %>

<%= link_to "Add Students to Course", teachers_course_enrollments_path(@course) %>

<%= link_to "Course Roster", teachers_course_roster_path(@course) %>

<div id="collapse" >
  <h2 class="open">Assignments for <%= @course.subject.name %> (Period <%= @course.period %>)</h2>
  <div id="assignment-preview-5">
    <table>
      <thead>
        <th>Due Date</th>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Maximum Points</th>
        <th>Class Average</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <% @course.assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.due_date %></td>
        <td><%= assignment.assignment_category.name %></td>
        <td><%= assignment.title %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.maximum_points %></td>
        <% @classtotal = 0 %>
        <% @total = assignment.submissions.count %>
        <% assignment.submissions.each do |submission| %>
          <% @classtotal += submission.points_earned %>
        <% end %>
        <% if @total == 0 %>
          <td></td>
        <% else %>
            <td><%= ((@classtotal) / (@total)) %>%</td>
        <% end %>
        <td><%= link_to "Enter Grades", teachers_assignment_path(assignment) %></td>
        <td><%= link_to "Delete", teachers_assignment_path(assignment), method: "delete" %></td>
        <td><%= link_to "Edit", edit_teachers_assignment_path(assignment) %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "Add Assignment", teachers_course_assignments_path(@course) %>
    <%= link_to "Create New Category", new_teachers_course_assignment_category_path(@course) %>
  </div>
  <h2>Current Grades</h2>
  <div id="student-roster">
    <table>
      <thead>
        <th>CCSD ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Percent</th>
        <th>Grade</th>
      </thead>
      <% @students.each do |student| %>
      <tr>
        <td><%= student.ccsd_id %></td>
        <td><%= link_to student.first_name, teachers_student_profile_path(student) %></td>
        <td><%= link_to student.last_name, teachers_student_profile_path(student) %></td>
        <td><%= @course.calculate_student_percentage(student) %></td>
        <td><%= @course.calculate_student_grade(student) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
