<%= link_to('Back', :back) %>

<h1><%= @student.first_name %> <%= @student.last_name %>'s Grades for <%= @course.subject.name %> <%= @percent = @student.grade_in(@course) %>%</h1>
<%= link_to "See Student Info", teachers_student_profile_path(@student) %>

<%= render '/shared/student_assignment_submissions', :assignments => @assignments %>

