<h1>All Students</h1>

<p>Click on table headers to sort</p>

<table>
  <thead>
    <th>See Student Info</th>
    <th><%= link_to "CCSD ID", :sort => "ccsd_id" %></th>
    <th>First Name</th>
    <th><%= link_to "Last Name", teachers_student_profiles_path %></th>
    <th>Username</th>
    <th><%= link_to "Birthday", :sort => "birthday" %></th>
    <th><%= link_to "Grade", :sort => "grade_level" %></th>
    <th>Registration Code</th>
    <th>Guardian 1</th>
    <th>Guardian 2</th>
    <th>Guardian 3</th>
    <th>Guardian 4</th>
    <th></th>
  </thead>
  <% @students.each do |student| %>
  <tr>
    <td><%= link_to "More", teachers_student_profile_path(student) %></td>
    <td><%= student.ccsd_id %></td>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.username %></td>
    <td><%= student.birthday %></td>
    <td><%= student.grade_level %></td>
    <td><%= student.registration_code %></td>
    <% student.guardians.each do |guardian| %>
    <td><%= guardian.first_name%> <%= guardian.last_name %></td>
    <% end %>
  </tr>
<% end %>
</table>


