<div class="new-student-form-container">
  <h2>New Student Form</h2>
  <%= render 'shared/error_messages' %>

  <%= form_for @student, :url => teachers_student_profiles_path, :html => { :class => "pure-form pure-form-stacked", :id => "sign_up" } do |f| %>

    <%= f.label :gender, "Gender" %>

    <%= f.select :gender, [ ['Male','male'],
                            ['Female', 'female']] %>
 
    <%= f.label :grade_level, "Grade Level" %>
    <%= f.select :grade_level, [[7,7],
                                [8,8]] %>

    <%= f.label :birthday, "Student Birthday" %>

    <%= f.date_select :birthday %>

    <%= f.label :address_line_1, "Street Address" %>

    <%= f.text_field :address_line_1 %>

    <%= f.label :address_line_2, "Apartment Number (optional)" %>

    <%= f.text_field :address_line_2 %>

    <%= f.label :address_city, "City" %>

    <%= f.text_field :address_city %>

    <%= f.label :address_state, "State" %>

    <%= f.text_field :address_state %>

    <%= f.label :address_zip_code, "Zip Code" %>

    <%= f.text_field :address_zip_code %>

    <%= f.label :ccsd_id, "CCSD ID" %>

    <%= f.text_field :ccsd_id %>
    <br>
    <%= f.submit value="Next", :class => "btn btn-large " %>
  <% end %>
</div>
