<%= link_to('Back', :back) %>
<h2 class="chalk"><%= @student.first_name %> <%= @student.last_name %><div class="bank-balance-teacher-view">
  <div style="font-size: 19px;text-decoration:underline;">Bank Balance</div>
  <%= number_to_currency(@student.bank_balance, strip_insignificant_zeros: true) %>
</div></h2>

<%= link_to "Student Report", teachers_student_report_path(:ccsd_id => @student.ccsd_id) %>
<ul>
  <li>Username: <%= @student.username %> </li>
  <li>Birthday: <%= @student.birthday %> </li>
  <li>Gender: <%= @student.gender %> </li>
  <li>Address: <%= @student.address %> </li>
  <li>Email: <%= @student.email %> </li>
  <li>CCSD ID: <%= @student.ccsd_id %> </li>
  <li>Grade Level: <%= @student.grade_level %> </li>
  <li>Guardian Registration Code: <%= @student.registration_code %> </li>
  <li>Last Login: <%= @student.identity.updated_at.strftime("%a, %m/%d") %></li>
  <li>Total Logins: <%= @student.identity.login_counter %></li>
  <br>
  <h2>Guardians</h2>
  <table>
    <thead>
      <th>Relationship</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email Address</th>
      <th>Phone Numbers</th>
    </thead>
    <% @student.guardians.each do |guardian| %> 
      <tr>
        <td><%= guardian.guardianships.where(student_id: @student.id).first.relationship_to_student.capitalize %></td>
        <td><%= guardian.first_name %> <%= guardian.last_name %></td> 
        <td><%= guardian.username %></td>
        <td><%= guardian.email %></td>
        <% guardian.phone_numbers.each do |number| %>
          <td><%= number.number %> (<%= number.kind %>)</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</ul><br>

<h3>Course Schedule</h3>
<div>
  <%= render '/shared/schedule_grades' %>
</div>
<br>
<%= form_tag teachers_student_profile_path, method: :get do %>
    <%= text_field_tag :number, nil, :placeholder => "# of previous days" %>
    <%= submit_tag "Show", class: 'button' %>
  <% end %>
<%= render '/shared/student_actions', :student_actions => @student_actions, days_path: method(:teachers_student_profile_path) %>
<br>

<h3><%= @student.first_name %>'s Goals</h3>
<% if @student.goals.length > 0 %>
  <table>
  <thead>
    <th>Created</th>
    <th>Goal</th>
    <th>Completed?</th>
  </thead>
    <% @student.goals.sort! { |a, b| b.status <=> a.status }.each do |goal| %>
      <tr>
        <td><%= goal.created_at.strftime("%a, %m/%d") %></td>
        <td><%= goal.goal %></td>
        <td><%= goal.status == "Complete" ? "Yes" : "No" %></td>
      </tr>
      <% end %>
    <% else %>
    <p>No goals</p>
    <% end %>
  </table>
  <br>



