<div>
  <h2 class="chalk"><%= @student.first_name %> <%= @student.last_name %></h2>
  <ul>
    <li>Username: <%= @student.username %> </li>
    <li>Birthday: <%= @student.birthday %> </li>
    <li>Gender: <%= @student.gender %> </li>
    <li>Address: <%= @student.address %> </li>
    <li>Email: <%= @student.email %> </li>
    <li>CCSD ID: <%= @student.ccsd_id %> </li>
    <li>Grade Level: <%= @student.grade_level %> </li>
    <li>Guardian Registration Code: <%= @student.registration_code %> </li>
    <br>
    <% @student.guardians.each do |guardian| %> 
    <table>
      <thead>
        <th><%= guardian.guardianships.where(student_id: @student.id).first.relationship_to_student %></th>
        <th></th>
        <th>Username</th>
        <th>Email Address</th>
        <th>Phone Numbers</th>
      </thead>

      <tr>
        <td><%= guardian.first_name %></td> 
        <td><%= guardian.last_name %></td>
        <td><%= guardian.username %></td>
        <td><%= guardian.email %></td>
        <% guardian.phone_numbers.each do |number| %>
        <td>
        <table>
          <tr>
            <td><%= number.kind %></td>
            <td><%= number.number %></td>
          </tr>
        </table>
        </td>
        <br>
        <% end %>
      </tr>
    </table>
    <% end %>
    
  </ul>
  <div class="pure-g-r">
    <div class="pure-u-1-2 s-panel-classes">
      <%= render 'shared/class_list' %>
    </div>
    <div class="pure-u-1-2">
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-2">
    </div>
    <div class="pure-u-1-2">
    </div>
  </div>
</div>
