<div class="s-profile-container pure-g-r">
<li><%= link_to "Logout", logout_path, :method => "delete" %></li>

  <h2 class="chalk">Welcome, <%= @student.first_name %></h2>
  <ul>
    <li>First Name: <%= @student.first_name %> </li>
    <li>Last Name: <%= @student.last_name %> </li>
    <li>Username: <%= @student.username %> </li>
    <li>Birthday: <%= current_user.birthday %> </li>
    <li>Gender: <%= current_user.gender %> </li>
    <li>Address: <%= current_user.address %> </li>
    <li>Email: <%= current_user.email %> </li>
    <li>Guardians: <% @student.guardians.each do |guardian| %> 
      <%= guardian.first_name %> <%= guardian.last_name %>
      <% end %></li>
    <li>CCSD ID: <%= current_user.ccsd_id %> </li>
    <li>Grade Level: <%= current_user.grade_level %> </li>
    <li>Guardian Registration Code: <%= current_user.registration_code %> </li>
  </ul>
  <%= link_to "Edit My Information", edit_student_path(@student) %>
  <div class="pure-g-r">
    <div class="pure-u-1-2 s-panel-classes">
      <%= render 'shared/class_list' %>
    </div>
    <div class="pure-u-1-2">
      <p>Student's Messages Will Go Here</p>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-2">
    </div>
    <div class="pure-u-1-2">
      <p>Student's Goals/Inspirations Will Go Here</p>
    </div>
  </div>
</div>
