<%= form_tag teachers_course_enrollments_path, :method => :post do %>
  <ul>
  <% for student in @students %>
    <li>
      <%= check_box_tag "student_ids[]", student.id %>
      <%= student.first_name %> <%= student.last_name %> (<%= student.ccsd_id %>)
    </li>
  <% end %>
  </ul>
  <%= submit_tag "Mark as Complete" %>
<% end %>
