<!DOCTYPE html>
<html>
  <head>
    <title>SWOTBot</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript"></script>
  </head>
  <body id="home">
    <div class="main-container">
      <%= render 'shared/header' %>
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
